@model  CodingExercise.Models.RegionSaleModel
@{
    ViewBag.Title = "Car Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Car Sales</h3>
<hr />

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Add Car Sales Details</h4>
            <hr />
        </div>
        <div class="card-block">
            @using (Html.BeginForm("Save", "Home", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
            {
                <div class="form-group row">
                    <label class="col-lg-1 control-label">
                        Month
                    </label>
                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.MonthId, new SelectList(Model.MonthList, "Id", "Name"), "Select Month", new { @class = "form-control", id = "ddlMonthId", required = String.Empty })
                        @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-lg-1 control-label">
                        State
                    </label>
                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.StateId, new SelectList(Model.StateList, "Id", "Name"), "Select State", new { @class = "form-control", id = "ddlStateId", required = String.Empty })
                        @Html.ValidationMessageFor(model => model.StateId)
                    </div>
                    <label class="col-lg-1 control-label">
                        Sales
                    </label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(m => m.Sales, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-1">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Region Sale</h4>
                <hr />
            </div>
            <div class="card-block">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th></th>
                            @foreach (var state in Model.StateList)
                            {
                                <th class="text-right">@state.Name</th>
                            }
                        </tr>
                        @foreach (var month in Model.MonthList)
                        {
                            <tr>
                                <td>@month.Name</td>
                                @foreach (var state in Model.StateList)
                                {
                                    <td class="text-right">
                                        @if (Model.RegionSaleList.Where(rs => rs.MonthId == month.Id && rs.StateId == state.Id).Count() > 0)
                                        {
                                            @Model.RegionSaleList.Where(rs => rs.MonthId == month.Id && rs.StateId == state.Id).First().Sales
                                        }
                                        else
                                        {
                                            @Model.RegionSaleList.Where(rs => rs.MonthId == month.Id && rs.StateId == state.Id).Count()
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><b>Avg.</b></td>
                            @foreach (var stateAverage in Model.AverageList)
                            {
                                <td class="text-right">
                                    @stateAverage
                                </td>
                            }
                        </tr>
                        <tr>
                            <td><b>Total.</b></td>
                            @foreach (var stateTotal in Model.TotalList)
                            {
                                <td class="text-right">
                                    @stateTotal
                                </td>
                            }
                        </tr>
                        <tr>
                            <td><b>Total.</b></td>
                            @foreach (var stateMedian in Model.MedianList)
                            {
                                <td class="text-right">
                                    @stateMedian
                                </td>
                            }
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
